@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Base styles */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Inter", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

/* Global utility classes */
.flex-center {
  @apply flex items-center justify-center;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400;
}

/* Responsive layout helpers */
@screen md {
  .container {
    @apply px-8;
  }
}
