@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 0.8in;
  margin: 0.8rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5); */
}
.applayout {
  overflow-y: hidden;
}
@page {
  margin: 1in;
}

.print-icon {
  position: fixed;
  bottom: 0;
  right: 30vw;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  background-color: #4582c4;
  margin: 10px;
  cursor: pointer;
  z-index: 1000000;
}
